<div class="col-xl-3">
  <div class="title">
    <span>QUẢN LÝ</span>
  </div>
  <div class="body-link">
    <ul class="nav flex-column">
      <li class="nav-items"><a href="<%=books_path %>" class="nav-link">Thông tin sách</a></li>
      <li class="nav-items"><a href="<%=bookstores_path %>" class="nav-link">Kho sách</a></li>
      <li class="nav-items"><a href="<%=users_path %>" class="nav-link">Người dùng</a></li>
      <li class="nav-items"><a href="<%=accounts_path %>" class="nav-link">Tài khoản</a></li>
      <li class="nav-items"><a href="<%=categories_path %>" class="nav-link">Thể loại sách</a></li>
      <li class="nav-items"><a href="<%=companies_path %>" class="nav-link">Nhà cung cấp</a></li>
      <li class="nav-items"><a href="<%=languages_path %>" class="nav-link">Ngôn ngữ sách</a></li>
      <li class="nav-items"><a href="<%=formalities_path %>" class="nav-link">Bìa sách</a></li>
      <li class="nav-items"><a href="<%=suppliers_path %>" class="nav-link">Nhà xuất bản</a></li>
      <li class="nav-items"><a href="<%=carts_path %>" class="nav-link">Danh sánh giỏ hàng</a></li>
      <li class="nav-items"><a href="<%=slides_path %>" class="nav-link">Slide</a></li>
    </ul>
  </div>
</div>