<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="jumbotron">

    <h1>Orders</h1>
    <br>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Email</th>
        <th>Pay type</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.name %></td>
          <td><%= order.address %></td>
          <td><%= order.email %></td>
          <td><%= order.pay_type %></td>
          <td><%= link_to 'Show', order, class: 'btn btn-info' %></td>
          <td><%= link_to 'Edit', edit_order_path(order), class: 'btn btn-warning' %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
