<div class="col-xl-3">
  <div class="span">
    <span>Danh Mục Sách</span>
  </div>
  <div class="categories">
    <ul class="nav flex-column">
      <li class="nav-items"><a href="<%= computerScience_path %>" class="nav-link">Khoa học máy tính</a></li>
      <li class="nav-items"><a href="<%= lifeSkill_path %>" class="nav-link">Tâm lý và kỹ năng sống</a></li>
      <li class="nav-items"><a href="<%= raiseUpChild_path %>" class="nav-link">Nuôi dạy con</a></li>
      <li class="nav-items"><a href="<%= textBook_path %>" class="nav-link">Giáo trình và sách tham khảo</a></li>
      <li class="nav-items"><a href="<%= medical_path %>" class="nav-link">Y khoa</a></li>
      <li class="nav-items"><a href="<%= scienceFiction_path %>" class="nav-link">Khoa học viễn tưởng</a></li>
      <li class="nav-items"><a href="<%= storyPicture_path %>" class="nav-link">Truyện tranh</a></li>
      <li class="nav-items"><a href="<%= cooking_path %>" class="nav-link">Nấu ăn</a></li>
      <li class="nav-items"><a href="<%= business_path %>" class="nav-link">Kinh doanh</a></li>
    </ul>
  </div>
</div>