<%= form_with(model: feedback, local: true) do |form| %>
  <%= form.hidden_field :account_id, value: session[:account_id] %>

  <%= form.hidden_field :bookstore_id, value: session[:bookstore_id] %>

  <div class="form-group">
    <%= form.radio_button :start, 1 %>
    <%= form.label '1 sao' %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= form.radio_button :start, 2 %>
    <%= form.label '2 sao' %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= form.radio_button :start, 3 %>
    <%= form.label '3 sao' %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= form.radio_button :start, 4 %>
    <%= form.label '4 sao' %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= form.radio_button :start, 5 %>
    <%= form.label '5 sao' %>
  </div>

  <div class="form-group">
    <%= form.label :title, 'Chủ đề' %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.text_area :content, rows:10, class: 'form-control', placeholder: 'Nhận xét...' %>
  </div>

  <div class="row">
    <div class="col-xl-3">
      <%= form.submit 'Lưu', class: 'btn btn-warning btn-block'%>
    </div>
    <div class="col-xl-3">
      <%=link_to 'Quay lại', feedbacks_path, class: 'btn btn-info btn-block' %>
    </div>
  </div>
<% end %>