<%= form_with(model: item, local: true) do |form| %>
  <% if item.errors.any? %>
    <div id="text-center text-success">
      <% item.errors.full_messages.each do |message| %><%= message %><% end %>
    </div>
  <% end %>

  <div class="form-group">
    <%=form.text_field :quantity, class: 'form-control' %>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <%= form.submit class: 'btn btn-success btn-block'%>
    </div>
    <div class="col-xl-6">
      <%= link_to 'Back', items_path %>
    </div>
  </div>
<% end %>