<tr>
  <td><%=image_tag(item.bookstore.book.url_img.url, class: 'img-cart')%></td>
  <td><%=item.bookstore.book.title %></td>
  <td><%=item.bookstore.book.price %>VND</td>
  <td><%=item.quantity %></td>
  <td><%=item.totalPrice %>VND</td>
</tr>