<div class="container">
  <p class="text-center text-success"><%= notice %></p>
  <div class="jumbotron">
    <h1>Items</h1>

    <table class="table">
      <thead>
      <tr>
        <th>Books</th>
        <th>Cart ID</th>
        <th>Quantity</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.bookstore.book.title %></td>
          <td><%= item.cart_id %></td>
          <td><%= item.quantity %></td>
          <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <p><%=will_paginate @items, class: 'justify-content-center' %></p>
  </div>
</div>