<div class="container">
  <p class="text-center text-success"><%= notice %></p>
  <div class="row">
    <%=render 'admin/list' %>
    <div class="col-xl-9">
      <div class="jumbotron">
        <h1>Nhà xuất bản</h1>
        <br>
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th colspan="3"></th>
          </tr>
          </thead>

          <tbody>
          <% @suppliers.each do |supplier| %>
            <tr>
              <td><%= supplier.name %></td>
              <td><%= link_to 'Edit', edit_supplier_path(supplier), class: 'btn btn-warning' %></td>
              <td><%= link_to 'Destroy', supplier, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <br>
        <%= link_to 'New Supplier', new_supplier_path, class: 'btn btn-success' %>
        <p><%=will_paginate @suppliers, class: 'justify-content-center' %></p>
      </div>
    </div>
  </div>
</div>